__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.coverage*
.hypothesis/
.ipynb_checkpoints
.DS_Store
models/*.joblib
models/*.pkl
models/*.json
data/*.csv
.streamlit/